*{
    margin: 0;
    padding: 0;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left{
    flex-direction: row;
}
.banner-right{
    flex: 1;
}  

.logo{
    float: left;
}